<h1>CONTRATO DE HONORÁRIOS ADVOCATÍCIOS</h1>
<br>
<br>
<br>
<br>
<h1>CONTRATANTE:</h1>
<br>
<p>Condominio Ed Morada Dos Passaros, pessoa física, inscrita no CPF nº ${_CPF/CNPJ_cliente_}, 
    residente e domiciado na ${_Rua_cliente_}, ${_Numero_cliente_} ${_Complemento_cliente_}, 
    bairro ${_Bairro_cliente_}, ${_Cidade_cliente_} - ${_Estado_cliente_}</p>
<br>
<br>
<br>
<h1>CONTRATADA:</h1>
<br>
<br>
<br>
<p>jstassjuridica, inscrita no CNPJ nº ${_CPF/CNPJ_escritório_}, 
    inscrita na OAB sob n° 387045, estabelecida na ${_Endereço_escritório_}, 
    representada por seu sócio infrafirmado.</p>
<br>
<br>
<br>
<h1>CLÁUSULA PRIMEIRA:</h1>
<br>
<p> O presente contrato tem como objeto a defesa dos interesses da CONTRATANTE 
    perante o processo n° ${_Número processo_processo_}, 
    em trâmite na ${_Juízo_processo_}, ´
    incluindo a defesa em todos as fases processuais, 
    com acompanhamento dos processos até final instância.</p>
<br>
<br>
<p>1.2. As atividades inclusas na prestação de serviço objeto deste contrato 
    são todas aquelas inerentes ao exercício da advocacia e constantes no 
    Estatuto da Ordem dos Advogados do Brasil, bem como as especificadas 
    no(s) competente(s) instrumento(s) procuratório(s).</p>
<br>
<br>
<br>
<h1>CLÁUSULA SEGUNDA:</h1>

2.1. A título de honorários, a CONTRATANTE pagará à CONTRATADA a quantia de R$ XXXX,XX (XXXX).

2.2 A CONTRATADA pagará, a título de honorários ad exitum, a quantia de R$ XXXX,XX, (OU PERCENTUAL) devidamente atualizada a partir da data da assinatura deste instrumento, com base na variação do INPC, definindo as partes que a atuação da CONTRATADA será considerada exitosa caso sejam julgada procedente(ou improcedente) a ação objeto do presente contrato.


2.3. Em caso de rescisão contratual por culpa ou iniciativa do CONTRATANTE, bem como em caso de revogação de mandato(s), os honorários previstos nesta cláusula permanecerão integralmente devidos, ainda que outro(s) profissional(is) venha(m) a dar continuidade aos serviços iniciados pela CONTRATADA.


2.4. Eventuais honorários cobrados da parte contrária de sucumbência ou não, pertencerão à contratada e independem dos honorários ora contratados.



CLÁUSULA TERCEIRA:

3.1. Gastos com serviços postais e cartorários, cópias reprográficas, telefonemas interurbanos, custas processuais, assistentes técnicos, deslocamentos, refeições e hospedagens, assim como outras despesas necessárias à realização do objeto do presente contrato correrão por conta da CONTRATANTE.


CLÁUSULA QUARTA:

4.1. A CONTRATANTE se obriga a informar a CONTRATADA imediatamente, por escrito sua eventual alteração de endereço, inclusive eletrônico, autorizando a informação dessa autorização nos autos.




E por estarem assim justos e contratados, firmam o presente instrumento em 2 (duas) vias de igual teor e forma, na presença das testemunhas abaixo assinadas.





Local e data





____________________________________

Condominio Ed Morada Dos Passaros









____________________________________

jstassjuridica








Testemunha
Nome:
CPF:




Testemunha
Nome:
CPF: