<header>
    <div class = "Caixa">
        <img id= "Banner" src=""> 
            <h1>AutoDocs - Automatize a criação de documentos jurídicos</h1>
</div>
    <nav class = "menu">
    <ul>
        <li id = "Home"><a href="index.html">Home<a></li>
        <li><a href ="">Documentos</a></li>
        <li><a href = "">Contato</a></li>
        <li><a href ="">Quem Somos</a></li>
    </ul>
    </nav>
</header>
    <main> 
        <h3>Modelo Visual: </h3>
        <p>As marcações em amarelo substituem os campos mencionados</p>
        <iframe src="https://periciasonline.com.br/wp-content/uploads/2019/04/MODELO-DE-PETIC%CC%A7A%CC%83O-INICIAL-NOVO-CPC.doc-.pdf"></iframe>
    </main>
<footer>

    <img id="Rodapé" src=""> 
</footer>
