<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<title>Auto-Docs Automatização de Documentos Judiciais</title>
<header>
    <div class = "Caixa">
        <img id= "Banner" src=""> 
            <h1>AutoDocs - Automatize a criação de documentos jurídicos</h1>
            </div>
             <nav class = "menu">
        <ul id='sidebar'>
        <li ><a href="/">Home<a></li>
        <li><a href ="/documentos">Documentos</a></li>
        <li><a href = "/contato">Contato</a></li>
        <li><a href ="/quemsomos">Quem Somos</a></li>
        <li><a href ="/login">Login</a></li>
         </ul>
    </nav>
</header>
<main>
    <div id="wrapper">
        <div id="content">
    <div id="seta"></div>
    <div class ='boxanima'>
    <p class = 'anima'><b> Acesse o modelo de <span style="color: #f00;">Procuração Jurídica: Petição inicial</span> no campo 'Documentos'!</b></p>
    <br>
    <p>Seja bem vindo!</p>
   <p> Site em Desenvolvimento.</p>
    <br>
   </div>
    
</div>
</main>
<footer>
    <h1>&#169; Copyright Auto-Docs 2022</h1>
</footer>
</div>
</body>
</html>
