<html>
<title>Gerar Documento</title>

<header>
    <div class = "Caixa">
        <img id= "Banner" src=""> 
            <h1>AutoDocs - Automatize a criação de documentos jurídicos</h1>
            </div>
             <nav class = "menu">
        <ul id='sidebar'>
        <li ><a href="/">Home<a></li>
        <li><a href ="/documentos">Documentos</a></li>
        <li><a href = "/contato">Contato</a></li>
        <li><a href ="/quemsomos">Quem Somos</a></li>
        <li><a href ="/login">Login</a></li>
         </ul>
    </nav>
</header>
<body>
    <main>

        <h2>Tipo de documento: "Procuração Jurídica: Petição Inicial" </h1>
        <form name='form1' action="/add" method="get">

                    <div class = "box">
                        <label for = "nVara">Vara:</label>
                        <input type ="text" name ="nVara" style=" width: 80px " id ="nVara" class ="input-padrao"  placeholder="Numero da vara">
                    </div>
                            <div class = "box">
                                <label for = "comarca">Comarca:</label>
                                <input type ="number" style=" width: 80px" name ="comarca" id ="comarca" class ="input-padrao"  placeholder="Comarca">
                            </div>
                           
                                <div class = "box">
                                    <label for = "nomeparte">Nome:</label>
                                    <input type ="text" name ="nomeparte" id ="nomeparte" class ="input-padrao"  placeholder="Nome da Parte">
                                </div>
                                    <div class = "box">
                                        <label for = "nacionalidade">Nacionalidade: </label>
                                        <input type ="text" name ="nacionalidade" style=" width: 120px" id ="nacionalidade" class ="input-padrao"  placeholder="Nacionalidade">
                                    </div>
                                        <div class = "box">
                                                <label for = "estadocivil">Estado Civil: </label>
                                                <input type ="text" style=" width: 100px" name ="estadocivil" id ="estadocivil" class ="input-padrao"  placeholder="Estado Civil">
                                            </div>
                                            <div class = "box">
                    <label for = "profissao">Profissão: </label>
                    <input type ="text" style=" width: 150px" name ="profissao" id ="profissao" class ="input-padrao"  placeholder="Profissão">
</div>
<div class = "box">
                    <label for = "rg">RG: </label>
                    <input type ="text" name ="rg" id ="rg" class ="input-padrao" placeholder="RG">
</div>
<div class = "box">
                    <label for = "orgaoexpedidor">Orgão expedidor: </label>
                    <input type ="text" style=" width: 150px" name ="orgaoexpedidor" id ="orgaoexpedidor" class ="input-padrao" placeholder="Orgão expedidor: "></div>
<div class = "box">
                    <label for = "CPF">CPF: </label>
                    <input type = "number" style=" width: 200px" name = "cpf" id ="cpf" class="input-padrao"  placeholder="000.000.000-xx">
                    </div>
            <div class = "box">
                    <label for = "e-mail">E-Mail: </label>
                    <input type = "text" style="width: 360px;" name = "email" id ="e-mail" class="input-padrao" placeholder="xxx@yyy.com.br">
</div>
<div class = "box">
                    <label for = "endereco">Endereço: </label>
                    <input type = 'text' name = "endereco"style="width: 500px;" id ="endereco" class="input-padrao"  placeholder="Rua.Aven...">
</div>
<div class = "box">
                    <label for = "enderecoadvogado">Endereço Advogado: </label>
                    <input type = "text" name = "enderecoadvogado" style="width: 500px;" id ="enderecoadvogado" class="input-padrao"  placeholder="End. Comercial">
                    </div>

                    <div class = 'boxtxt'>
                    <label id ="labelacao" for = "acao">Descreva a Ação: </label>
                    <textarea type ="text" name = "acao" id = "acao" class="input-padrao" rows="2"  placeholder="Descreva a ação contra o réu. "></textarea> 
                   </div>
                   
<div class = 'box'>
                    <label for = "nomereu">Nome do Réu:</label>
                    <input type ="text" name ="nomereu" cols="5" id ="nomereu" class ="input-padrao"  placeholder="Nome do Reu">
</div>
<div class = 'box'>
                    <label for = "nacionalidadereu">Nacionalidade do Réu: </label>
                    <input type ="text" name ="nacionalidadereu" style=" width: 180px" id ="nacionalidadereu" class ="input-padrao" placeholder="Nacionalidade do réu">
</div>
<div class = 'box'>
                    <label for = "estadocivilreu">Estado Civil do Réu: </label>
                    <input type ="text" name ="estadocivilreu" id ="estadocivilreu" class ="input-padrao"  placeholder="Estado Civil do reu">
</div>
<div class = 'box'>
                    <label for = "profissaoreu">Profissão do Réu: </label>
                    <input type ="text" style=" width: 150px" name ="profissaoreu" id ="profissaoreu" class ="input-padrao"  placeholder="Profissão do Réu: ">
 </div>
 
<div class = 'box'>
                    <label for = "rgreu">RG: </label>
                    <input type ="text" name ="rgreu" id ="rgreu" class ="input-padrao" placeholder="RG do réu">
</div>
<div class = 'box'>
                    <label for = "orgaoexpedidorreu">Orgão expedidor: </label>
                    <input type ="text" style="width: 100px" name ="orgaoexpedidorreu" id ="orgaoexpedidorreu" class ="input-padrao" placeholder="Orgão expedidor do réu: ">
</div>
<div class = 'box'>
                    <label for = "CPFreu">CPF: </label>
                    <input type = "number" style="width: 200px" name = "cpfreu" id ="cpfreu" class="input-padrao" placeholder="000.000.000-xx">
</div>
<div class = 'box'>
                    <label for = "e-mailreu">E-Mail: </label>
                    <input type = "text" name = "emailreu" id ="emailreu" class="input-padrao" placeholder="xxx@yyy.com.br">
</div>
<div class = 'box'>
                    <label for = "enderecoreu">Endereço: </label>
                    <input type = "text"  style="width: 500px;" name = "enderecoreu"id ="enderecoreu" class="input-padrao" placeholder="Rua.Aven...">
</div>
                  <div class = 'boxtxt'>      
                    <label for = "relato">Relato: </label>
                    <textarea  cols="35" rows="8" name = "relato" id ="relato" class="input-padrao" placeholder="O tópico dos relatos é o de maior importância na petição, descrevendo com clareza e objetividade tudo aquilo que ocorreu, de forma que esteja relacionado aos fundamentos jurídicos do pedido.

Se o caso é rico em detalhes, uma opção é separar essas minúcias em uma tabela, por exemplo, a fim de direcionar a leitura e facilitar a localização das informações.

Relatar os acontecimentos em ordem cronológica "></textarea>
</div>
<div class = 'boxtxt'>
                    <label for = "fundamentos">Fundamentos: </label>
                    <textarea  rows="8" name = "fundamentos" style="width: 100%;" id ="fundamentos" class="input-padrao"  placeholder="Exemplo: Nesse sentido, jurisprudência deste E. Tribunal de Justiça, cuja ementa ora é transcrita:
                    Ação sumária. Acidente de trânsito. Responsabilidade Civil. Legitimidade. Não há responsabilidade solidária do cônjuge ou companheiro quanto aos danos causados pelo outro cônjuge ou convivente. Ainda que o fosse, 
                    só responderia o proprietário se tivesse entregue o veículo a quem não estava habilitado ou sem condições para dirigi-lo. Desprovimento do apelo. 
                    (Apelação Cível 10005/98, 10a. CCTJERJ, Rel. Des. Sylvio Capanema)
                    "></textarea>
</div>
<div class = 'boxtxt'>
                    <label for = "provas">Provas: </label>
                    <textarea  rows="8" name = "provas" id ="provas"  class="input-padrao" placeholder="Requer a produção de todas as provas em direito admitidas, na amplitude dos artigos 369 e seguintes do NCPC, em especial a prova documental, a prova pericial, a testemunhal e o depoimento pessoal do Réu. "></textarea>
</div>
<div class = 'box'>
                    <label for = "valor">Valor da ação: </label>
                    <input type = "number" style=" width: 200px" name = "valor" id ="valor" class="input-padrao" placeholder="Valor da ação: ">
</div>
<div class = 'box'>
                    <label for = "local">Local: </label>
                    <input type = "text" name = "local" id ="local" class="input-padrao" placeholder="Local:">
</div>
<div class = 'box'>
                    <label for = "dia"> Dia: </label>
                    <input type = "number" style=" width: 100px" name = "dia" id ="dia" class="input-padrao" placeholder="Dia: ">
</div>
<div class = 'box'>
                    <label for = "mes">Mês: </label>
                    <input type = "text" style=" width: 100px" name = "mes" id ="mes" class="input-padrao" placeholder="Mês: ">
</div>
<div class = 'box'>
                    <label for = "ano:">Ano: </label>
                    <input type = "number" style=" width: 100px" name = "ano" id ="ano" class="input-padrao" placeholder="Ano: ">
</div>
<div class = 'box'>
                    <label for = "advogado">Nome do Advogado: </label>
                    <input type = "text" name = "advogado" id ="advogado" class="input-padrao" placeholder="Nome do advogado: ">
</div>
<div class = 'box'>
                    <label for = "oab">OAB: </label>
                    <input type = "number" style=" width: 100px" name = "oab" id ="oab" class="input-padrao"  placeholder="N° OAB ">
</div>
<div class = 'box'>
                    <label for = "uf">UF OAB: </label>
                    <input type = "text" style=" width: 100px" name = "uf" id ="uf" class="input-padrao"  placeholder="UF OAB "> 
</div>
                  <div class ="box">
                    <input type="submit" id="send" onclick="criarpdf(url)" value="Gerar documento PDF" class = "Enviar"> 
                    </div>            
        </form>
    </main>
 <section class = 'rodape'>
<footer>
    <h1> &#169; Copyright Auto-Docs 2022</h1>
</footer>
 </section>
</body>
</html>