<title>Quem Somos</title>
<header>
    <div class = "Caixa">
        <img id= "Banner" src=""> 
            <h1>AutoDocs - Automatize a criação de documentos jurídicos</h1>
            </div>
             <nav class = "menu">
        <ul id='sidebar'>
        <li ><a href="/">Home<a></li>
        <li><a href ="/documentos">Documentos</a></li>
        <li><a href = "/contato">Contato</a></li>
        <li><a href ="/quemsomos">Quem Somos</a></li>
        <li><a href ="/login">Login</a></li>
         </ul>
    </nav>
</header>
<body>
</body>
<footer>
    <h1>&#169; Copyright Auto-Docs 2022</h1>
</footer>
